<section>
  <h1>Termos e Condições de Uso do Site de Venda de Rifas Online</h1>
  <p>Bem-vindo ao nosso site de venda de rifas online. Ao utilizar nosso site, você concorda com os seguintes termos e
    condições:</p>
  <ol>
    <li>Descrição do serviço</li>
    <p>Nosso site permite que os usuários comprem bilhetes virtuais para participar de sorteios online. Os sorteios são
      realizados conforme as regras e condições estabelecidas em cada campanha.</p>
    <li>Compra de bilhetes</li>
    <p>Ao comprar bilhetes em nosso site, você declara que tem idade legal para jogos de azar em sua jurisdição. Todos
      os bilhetes comprados são finais e não reembolsáveis, exceto em casos de cancelamento da campanha.</p>
    <li>Sorteios e Prêmios</li>
    <p>Os sorteios são realizados de forma transparente e imparcial, seguindo as regras e condições estabelecidas em
      cada campanha. Os prêmios são entregues conforme as condições estabelecidas em cada campanha.</p>
    <li>Responsabilidades do usuário</li>
    <p>O usuário é responsável por manter a segurança de sua conta e senha, e por todas as atividades realizadas em sua
      conta. O usuário concorda em não utilizar o site para atividades ilegais ou fraudulentas.</p>
    <li>Cancelamento e alteração de campanhas</li>
    <p>Reservamo-nos o direito de cancelar ou alterar as condições de uma campanha a qualquer momento, por qualquer
      motivo. Caso uma campanha seja cancelada, os bilhetes comprados serão reembolsados.</p>
    <li>Propriedade intelectual</li>
    <p>Todo o conteúdo do site, incluindo textos, imagens e código fonte, é de nossa propriedade e está protegido por
      leis de propriedade intelectual.</p>
    <li>Limitação de responsabilidade</li>
    <p>Não somos responsáveis por quaisquer danos ou prejuízos decorrentes do uso ou impossibilidade de uso do site. Não
      garantimos que o site será livre de erros ou interrupções.</p>
    <li>Alterações aos termos de uso</li>
    <p>Reservamo-nos o direito de alterar estes termos de uso a qualquer momento. As alterações serão efetivas a partir
      da data de sua publicação no site.</p>
  </ol>
  <p>Ao utilizar nosso site, você concorda com estes termos e condições de uso. Se tiver dúvidas ou comentários, entre
    em contato conosco através do formulário de contato em nosso site.</p>
</section>
