
<section class="d-flex p-3 text-center ">
  <div class="item">
    <h1  class="title">  ESCOLHA O SORTEIO</h1>
    <p>Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio e fotos. Em caso de dúvidas entre em contato com o administrador.
    </p>
  </div>
  <div class="item">
    <h1 class="title"> SELECIONE SEUS BILHETES
    </h1>
    <p>Você pode escolher quantos bilhetes desejar! Mais bilhetes, mais chances de ganhar.
    </p>
  </div>
  <div class="item">
    <h1 class="title"> FAÇA O PAGAMENTO
    </h1>
    <p>Faça o pagamento no(s) método(s) de pagamento(s) disponíveis no site.
    </p>
  </div>
  <div class="item">
    <h1 class="title"> AGUARDE O SORTEIO
    </h1>
    <p>Aguarde o Sorteio. Cruze os dedos! Você pode ser o próximo sorteado.
    </p>
  </div>
</section>
