/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgb(17, 18, 19);
  color: white;
}
body { margin: 0; font-family: 'Roboto', sans-serif;}


@import 'bootstrap/scss/bootstrap';
